html, body {
  height: 100%;
  margin: 0;
}

#line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 2px;
  background: #000000;
  transform-origin: center center;
  will-change: transform;
}

